<div id="showSort">
<div class="container" id="buttons">
        <!-- Button trigger modal (Template from Bootstrap)-->
    <button data-toggle="modal" data-target="#myModal"><b>Want more specific filtering?</b></button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Searching with the Query String </h4>
      </div>
      <div class="modal-body">
          <p align="left">For more specific sorting, you can use something called the query string. By typing in [URL]/shows?genre=comedy&genre=drama as the URL, you will see shows that are BOTH comedy and drama, while [URL]/shows?genre=comedy&drama gets shows that are either comedy, or drama, or both. Try it out now with different genres!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<button class="sort" data-sort="comedy">COMEDY</button>
<button class="sort" data-sort="drama">DRAMA</button>
<button class="sort" data-sort="indie">INDIE</button>
<button class="sort" data-sort="action">ACTION</button>
<button class="sort" data-sort="mystery">MYSTERY</button>
<button class="sort" data-sort="sci-fi">SCI-FI</button>
<button class="sort" data-sort="romance">ROMANCE</button>
<button class="sort" data-sort="documentary">DOCUMENTARY</button>
<button class="sort" data-sort="horror">HORROR</button>
</div>
<div id="container">
<ul class="list">
{{#each shows}}
<li><a href="shows/{{slug}}"><div class="{{genre}} show col-md-4">
        {{#if imageFilename}}
        <img src="/uploads/{{imageFilename}}" width="270px" height="400px">
    <h3>Number of Favs: {{favorites}}</h3>
        {{/if}}
    <p class="imageDescription">
        {{genre}}
    </p>
    </div></a></li>
{{/each}}
</ul>
</div>
</div>

<a href="#top" id="topbutton">back to top</a>

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.3.0/list.min.js"></script>
<script type="text/javascript">
    var options = {
    valueNames: ['comedy', 'drama', 'indie', 'action', 'mystery', 'sci-fi', 'romance', 'documentary', 'horror']
};

var showList = new List('showSort', options);
</script>
