<a href="../shows">Back</a>
{{#each shows}}
    <div id="wrapper">
    <div id="show_slug" class="col-md-4">
        <h1 id="showname">{{show_name}} ({{year_released}})</h1>
        {{#if imageFilename}}
            <img src="/uploads/{{imageFilename}}" width="100%" height="100%">
        {{/if}}
   </div>  
    <div id="description" class="col-md-8">
        <h1>DESCRIPTION:</h1>
        {{description}}
    </div>
</div>
<div id="wrapper">
<div id="comments" class="col-md-8">
{{#each comments}}
This should be a comment: {{text}}
Posted on: {{posted}}
By: {{user.username}}
{{/each}}
</div>

{{#if user}}
    <form action="/shows/{{slug}}" method="post">
        <fieldset enabled>
       <textarea type="text" name="text" class="form-control" rows="4"></textarea>
       <input type="submit">
        </fieldset>
    </form>
{{else}}
    <form action="/shows/{{slug}}" method="post">
        <fieldset disabled>
       <textarea type="text" name="text" class="form-control" rows="4">You must be logged in to comment!</textarea>
       <input type="submit">
        </fieldset>
    </form>
{{/if}}

</div>

{{/each}}

<!--Button to delete comment as well -->