<a href="../shows">Back</a>
{{#each shows}}
    <div id="wrapper">
    <div id="show_slug" class="col-md-4">
        <h1 id="showname">{{show_name}} ({{year_released}})</h1>
        {{#if imageFilename}}
            <img src="/uploads/{{imageFilename}}" width="100%" height="100%">
        {{/if}}
   </div>  
    <div id="description" class="col-md-8">
        <h1>DESCRIPTION:</h1>
        {{description}}
    </div>
</div>
<!--WHAT IS THE FORM ACTION-->
<div id="comments" class="col-md-6">
{{#each comments}}
This should be a comment: {{text}}
    </div>
{{/each}}
<form action="/shows/{{slug}}" method="post">
<textarea type="text" name="text" class="form-control" rows="4"></textarea>
    <input type="submit">
</form>
{{/each}}

