<a href="../shows">Back</a>
{{#if user}}
<button id="favorite" onclick="favorite()">Favorite!</button>
{{else}}
<button id="favorite" disabled>You must be logged in to favorite!</button>
{{/if}}

{{#each shows}}
    <div id="wrapper">
    <div id="show_slug" class="col-md-4">
        <h1 id="showname">{{show_name}} ({{year_released}})</h1>
        {{#if imageFilename}}
            <img src="/uploads/{{imageFilename}}" width="100%" height="100%">
        {{/if}}
   </div>  
    <div id="description" class="col-md-8">
        <h1>DESCRIPTION:</h1>
        {{description}}
    </div>
</div>

<div class="col-md-8">
<h3>Comments</h3>
{{#if user}}
    {{#each comments}}
    <ul></ul>
    {{user.username}}
    This should be a comment: {{text}}
    Posted on: {{posted}}
    {{/each}}
{{else}}
    {{#each comments}}
    <ul></ul>
    <button onclick="deleteIt()"><img src="/img/delete.png" height="15px" width="15px"></button>
    Username: {{text}}
    {{/each}}
{{/if}}
    
</div>
{{/each}}


{{#if user}}
    {{#each shows}}
    <form action="/shows/{{slug}}" method="post">
        <fieldset enabled>
       <textarea type="text" name="text" class="form-control" rows="4" id="comments"></textarea>
       <input type="submit">
        </fieldset>
    </form>
    {{/each}}
{{else}}
 {{#each shows}}
    <form action="/shows/{{slug}}" method="post">
        <fieldset disabled>
       <textarea type="text" name="text" class="form-control" rows="4" id="comments">You must be logged in to comment!</textarea>
       <input type="submit">
        </fieldset>
    </form>
 {{/each}}
{{/if}}
<!--Button to delete comment as well, let users favorite on this page instead (do findOne function in routes and then increment favorites by one!) -->

<script>
function favorite() {
     //make sure url matches route
   $.ajax({
    type: 'put',
    url: '/shows/:show_name',
    data: {
     show: 'favorites'
    }
   })
    .done(function(data) {
     console.log('updated favorites', data);
    })
    .fail(function(err) {
     console.log('failed to update favorites');
    });
}

    
function deleteIt(){
    $.ajax({
        type:'delete',
        url:'/shows/:show_name',
        data:{
          show: comments
        } 
    })
    .done(function(data){
        console.log('deleted', data);
    })
    .fail(function(err){
        console.log('was not deleted successfully', data);
    });
}
    
</script>
